.button1 {
    position: absolute;
    width: 249.8px;
    height: 63.82px;
    left: 70px;
    top: 650px;
    
    background: #3B373B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;
    color: white;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: sans-serif;
    

}